/* Geral */
* {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

/* Layout Principal */
.page-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante que o container tenha altura mínima de 100% da tela */
    justify-content: space-between;
}

.content {
    flex: 1; /* Faz o conteúdo ocupar o espaço disponível */
}

/* Navbar */
.navbar-container {
    width: 100%;
    height: 80px;
    margin-top: 158px;
    background-color: #2B3C70;
    padding: 0 2rem;
}

.logo {
    position: absolute;
    top: 16px;
    left: 50%;
    transform: translateX(-50%);
    width: 144px;
    height: 130px;
}

/* Menu */

nav {
    display: flex;
    height: 80px;
    width: 100%;
    background-color: #2B3C70;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

nav ul li {
    margin: 0 5px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

nav ul li a.active,
nav ul li a:hover {
    background: #f88f06;
}

nav .menu-btn i{
    color: #fff;
    cursor: pointer;
    display: none;
}


/* Main Banner */
.main-banner {
    padding-top: 40px; /* Adiciona espaçamento acima do texto */
}

.main-banner h1 {
    color: #2B3C70;
    text-align: center;
    margin: 0; /* Remove margens do h1 para evitar espaçamentos indesejados */
}



/* Central Banner */
.central-banner h3 {
    color: #2B3C70;
    text-align: center;
    margin: 15px; /* Remove margens para evitar espaçamentos indesejados */
    font-size: 1em;
}

.central-banner p {
    color: #2B3C70;
    text-align: center;
    margin: 10px; /* Remove margens para evitar espaçamentos indesejados */
    font-size: 14px;
}

.central-banner {
    padding-top: 5px;  /* Pequeno espaçamento acima do conteúdo */
    border: 1px solid #2B3C70;
    width: 300px;
    height: 190px;
    border-radius: 10px;
}

/* Shrink Boxes */
.box {
    height: 200px;  /* Define a altura fixa de 200px para todos os boxes */
    width: 33%;
    margin-top: 40px;
    display: flex; /* Adiciona display flex para centralização */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    background-color: #b2b1b5; /* Adiciona cor de fundo para visualização */
}

.shrink {
    display: flex;
}

.shrink .box {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 250px;
}

.shrink .small {
    flex-shrink: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Alinha os elementos verticalmente */
    height: auto; /* Ajusta a altura para acomodar o conteúdo */
}

.shrink .small .central-banner {
    padding: 0; /* Remove padding extra do central-banner */
}

/* Imagem */
.box img {
    max-width: 80%; /* Garante que a imagem não ultrapasse a largura do box */
    max-height: 95%; /* Garante que a imagem não ultrapasse a altura do box */
    object-fit: cover; /* Mantém a proporção da imagem */
    border-radius: 10px;
}

.bold-text {
    font-weight: bold; /* Define o peso da fonte como negrito */
}

/* Centralizar o título "Login" */
h3 {
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px; /* Um pouco de espaço abaixo do título */
    color: aliceblue;
}

/* Centralizar o formulário na tela */
form {
    width: 380px;
    margin: 15% auto; /* Centraliza o formulário horizontalmente */
    padding: 20px;
    text-align: center;
    background-color: #2B3C70; /* Adiciona um fundo */
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra leve */
    margin-top: 120px;
}

/* Estilo dos inputs e do select */
input, select {
    display: block;
    margin: 10px auto; /* Centraliza os inputs horizontalmente */
    width: 300px;
    height: 40px;
    padding: 5px; /* Adiciona um pouco de espaço interno */
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px; /* Aumenta o tamanho da fonte para visibilidade */
}

/* Botão de entrada */
.entrar {
    background-color: brown;
    color: azure;
    font-weight: bold;
    cursor: pointer; /* Adiciona o ícone de "mão" ao passar o mouse */
}

/* Estilo do select (menu suspenso) */
select {
    appearance: none; /* Remove o estilo padrão do navegador */
    background-color: #fff;
    cursor: pointer;
}

/* Centraliza e estiliza o placeholder do select */
select option[disabled] {
    color: #aaa; /* Cor do placeholder */
}
/* Rodapé */
.site-footer {
    background-color: #2B3C70; /* Cor de fundo do rodapé */
    color: white; /* Cor do texto */
    text-align: center; /* Centraliza o texto */
    padding: 10px 0; /* Espaçamento interno no topo e embaixo */
    width: 100%; /* Garante que o rodapé ocupe a largura total */
    font-size: 10px; /* Tamanho da fonte */
    position: relative;
    bottom: 0;
}

.site-footer p {
    margin: 0; /* Remove margens dos parágrafos para alinhamento preciso */
}


/* Media do Menu*/
@media (max-width: 920px) {
 nav .menu-btn i{
    display: block;
 }

 nav ul {
    position: fixed;
    top: 80px;
    left: -100%;
    background-color: #003840;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
 }

 nav ul.open{
    left: 0;
 }
 nav ul li {
    width: 100%;
    margin: 50px 0;
 }

 nav ul li a{
    font-size: 23px;
 }

    nav ul li a.active,
    nav ul li a:hover {
    background: none;
    color: #f88f06;
}
}

/* Media Queries para telas com até 1024px */
@media screen and (max-width: 1024px) {

    /* Ajusta a largura do header */
    .header-container {
        width: 100%; /* Ocupa 100% da largura da tela */
        padding: 0 15px;
        box-sizing: border-box;
    }

    .logo {
        max-width: 150px; /* Limita o tamanho da logo */
        height: auto;
        left: 45%;
    }

    .teste1 {
        font-size: 9px;
    }


    /* Ajuste do box para largura total */
    .box {
        width: 100%; /* Garante que o box ocupe a largura total da tela */
        margin: 20px auto; /* Centraliza com espaçamento em cima e embaixo */
    }

    /* Ajuste das imagens no box */
    .box img {
        width: 75%; /* Imagens ocupam toda a largura disponível */
        height: 85%; /* Mantém a proporção da imagem */
        object-fit: cover; /* Cobre o espaço disponível */
    }
    .central-banner {
        width: 75%; /* Imagens ocupam toda a largura disponível */
        height: 85%; /* Mantém a proporção da imagem */
        object-fit: cover; /* Cobre o espaço disponível */
    }

    .central-banner h3 {
        color: #2B3C70;
        text-align: center;
        margin: 15px; /* Remove margens para evitar espaçamentos indesejados */
        font-size: 0.7em;
    }
    
    .central-banner p {
        color: #2B3C70;
        text-align: center;
        margin: 10px; /* Remove margens para evitar espaçamentos indesejados */
        font-size: 11px;
    }
}


/* Para telas com largura de até 768px (Celulares) */
@media screen and (max-width: 768px) {
    .navbar-container {
        height: auto;
        margin-top: 80px;
        padding: 0;
    }
    .logo {
        width: 60px;
        height: auto;
    }

    .main-banner h1 {
        font-size: 1.5rem;
    }

    .shrink {
        flex-direction: column;
        align-items: center;
    }

    .box {
        width: 100%;
        margin-top: 10px;
    }

    .central-banner {
        width: 100%;
        padding: 15px;
    }

    .site-footer {
        font-size: 12px;
    }

    .box img {
        width: 40%; /* A imagem ocupa toda a largura do container */
        height: auto; /* Mantém a proporção correta */
        object-fit: cover; /* Cobre o espaço de forma mais completa */
    }

    .central-banner {
        width: 45%; /* Imagens ocupam toda a largura disponível */
        height: 65%; /* Mantém a proporção da imagem */
        object-fit: cover; /* Cobre o espaço disponível */
    }

    .central-banner h3 {
        color: #2B3C70;
        text-align: center;
        margin: 15px; /* Remove margens para evitar espaçamentos indesejados */
        font-size: 0.7em;
    }
    
    .central-banner p {
        color: #2B3C70;
        text-align: center;
        margin: 10px; /* Remove margens para evitar espaçamentos indesejados */
        font-size: 11px;
    }

        /* Navbar */
    .navbar-container {
        width: 100%;
        height: 50px;
        margin-top: 90px;
        background-color: #2B3C70;
        padding: 0 2rem;
    }
    .main-banner h1 {
        color: aliceblue;
        text-align: center;
        margin-top: -20px;
        font-size: 18px;
    }

   
    
}



