/* Main Banner */
.main-banner {
    padding-top: 40px;
  }
  
  .main-banner h1 {
    color: #2B3C70;
    text-align: center;
    margin: 0;
  }
  
  /* Central Banner */
  .central-banner {
    padding-top: 5px;
    border: 1px solid #2B3C70;
    width: 400px;
    height: 190px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .central-banner h3 {
    color: #2B3C70;
    margin: 0px;
    font-size: 1em;
    text-align: center;
  }
  
  .central-banner p {
    color: #2B3C70;
    margin: 5px;
    font-size: 16px;
    text-align: center;
  }
  
  /* Shrink Boxes */
  .shrink {
    display: flex;
    width: 100%;
  }
  
  .box {
    height: 200px;
    width: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b2b1b5;
  }
  
  .shrink .box {
    flex-grow: 1;
    flex-basis: auto;
  }
  
  .shrink .small {
    flex-shrink: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
  }
  
  .shrink .small .central-banner {
    padding: 0;
  }
  
  /* Estilos de Imagem */
  .shrink .box img {
    max-width: 80%;  /* Ajuste conforme a necessidade */
    max-height: 95%;
    object-fit: cover;
    border-radius: 10px;
  }
  
  
  /* Textos */
  .bold-text {
    font-weight: bold;
  }